* {
  margin: 0;
  padding: 0;
  font-family: "Space Mono";
}

:root {
  --dark_sea_green: #8cbf85;
  --prussian_blue: #003851;
  --vivid_red: #ff1414;
  --macaroni_cheese: #ffbd8c;
  --deep_green-cyan_turquoise: #0f8c6f;
  --light_salate: rgb(226, 247, 207);
}

#header {
  color: white;
  background-color: var(--vivid_red);
  height: 100px;
  display: flex;
  align-items: center;
}

#header h1 {
  padding: 0 30px;
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#container {
  padding: 0 60px;
}

#main {
  margin: 0 auto;
  width: 1000px;
  height: calc(80vh + 100px);
  background-color: var(--light_salate);
  border-left: 1px solid lightgray;
  border-right: 1px solid lightgray;
  padding: 20px 10px;
}

.tablesBox__nav {
  display: flex;
  margin-top: 10px;
}

.tablesBox__nav_link {
  color: rgb(70, 70, 70);
  text-decoration: none;
  padding: 10px 20px 5px;
  border-bottom: 2px solid var(--vivid_red);
  border-right: 1px solid lightgray;
}

.tablesBox__nav_link:hover {
  background: rgb(0, 0, 0, 0.2);
  border-bottom: 2px solid var(--prussian_blue);
  border-right: 1px solid lightgray;
}

.tablesBox__nav_link:last-child {
  border-right: none;
}

.tablesBox__nav_link__active {
  background: var(--dark_sea_green);
  font-weight: bold;
  border-bottom: 2px solid var(--deep_green-cyan_turquoise);
}

.racers_table {
  margin-top: 10px;
}

.racers_table th {
  padding-left: 5px;
  padding-bottom: 10px;
  text-align: left;
  border: 1px solid gray;
}

.racers_table td {
  padding: 5px 10px;
  margin: 0 5px;
  border: 1px solid lightgray;
  border-spacing: 20px;
}
